extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)



body
  header
  
    div.wolf
      img(src='../references/WOLF-Main.png' alt='Wolf')
    div.main_container
