extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  block content

  body
    div#app
      header
      div.logo
        img(src='./images/WOLF-Main.png' alt='Logo of Wolf' width=60 height=60)
      nav.navbar
        div.login-button
          a(href='/users/login') Login
        div.create-account
          a(href='/users/signup') Create Account
      main
        div.main_container
          div.mainImage
            img(src='#' alt='Main Wolf' width=300 height=300)
          div.trendingAlbums
            a(href="/albums/:id") link to album
              img(src='#' alt='Trending Wolf' width=300 height=300)
              p Album title
              p Artist
        // Slideshow container
        .slideshow-container
          // Full-width images with number and caption text
          .mySlides.fade
            img(src='/images/banner1.jpg' style='width:100%')
            .text Caption Text
          .mySlides.fade
            img(src='/images/banner2.jpg' style='width:100%')
            .text Caption Two
          .mySlides.fade

            img(src='/images/banner3.jpg' style='width:100%')
            .text Caption Three
          // Next and previous buttons
          a.prev(onclick='plusSlides(-1)') &#x276E;
          a.next(onclick='plusSlides(1)') &#x276F;
        br
        // The dots/circles
        div(style='text-align:center')
          span.dot(onclick='currentSlide(1)')
          span.dot(onclick='currentSlide(2)')
          span.dot(onclick='currentSlide(3)')
