extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  block content
  body
    div#app
      header
      div.logo
        img(src='./images/WOLF-Main.png' alt='Logo of Wolf' width=60 height=60)
      nav.navbar
        div.login-button
          a(href='/users/login') Login
        div.create-account
          a(href='/users/signup') Create Account
      main
        div.main_container
          div.mainImage
            img(src='./images/WOLF-Main.png' alt='Main Wolf' width=300 height=300)
          div.trendingAlbums
            a(href="/albums/:id") link to album
              img(src='./images/WOLF-Main.png' alt='Trending Wolf' width=300 height=300)
              p Album title
              p Artist
