doctype html
html
  head
    block head
      title="MuseHarmony"
      link(rel='stylesheet' href='/stylesheets/reset.css')

body
  a(href="/users/logout") Log Out
  block content
    nav.navbar
      div.museharmony MuseHarmony
      div.home Home
      div.albums Albums
      div.genres Genres
