extends layout.pug

block content
    div.hidden.login-form
        form(action="/users/login" method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Email
            input(type="email" name="email" required)
            label(for="password") Password
            input(type="password" name="password" required)
            div.loginbtns
                button.submit Submit
                button.cancel Cancel
