div.hidden.login-form
    form(action="/" method="POST")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="email") Email
        input(type="email" name="email" required)
        label(for="hashPassword") Password
        input(type="text" name="hashPassword" required)
        button Submit
        button Cancel
