extends layout.pug

block content
    p Hello Albums!
    table
        thead
            tr
                th Albums
        tbody
            each album in albums
                tr
                    td
                        a(href=`/albums/${album.id}`)
                            img(src=`${album.albumArt}`)

                    td= album.name
