extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  block content
  body
    header
      nav.navbar
        div.logo
          img(src='./images/WOLF-Main.png' alt='Logo of Wolf')
        div
          button Login
        div
          button Create Account
    main
      div.main_container
        div.mainImage
          img(src='./images/WOLF-Main.png' alt='Main Wolf')
        div.trendingAlbums
          a(href="/albums/:id") link to album
            img(src='./images/WOLF-Main.png' alt='Trending Wolf')
            p Album title
            p Artist
