extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="./javascripts/index.js" type="module")

block content
  head

  body
    div#app
      div.main-container
        .slideshow-container
          .mySlides.fade
            img(src='/images/banner1.jpg' style='width:100%')
            .text Caption Text
          .mySlides.fade
            img(src='/images/banner2.jpg' style='width:100%')
            .text Caption Two
          .mySlides.fade
            img(src='/images/banner3.jpg' style='width:100%')
            .text Caption Three
          // Next and previous buttons
          a.prev &#x276E;
          a.next &#x276F;
        .middleContainer
          p
        .albums-container
          .albumList-container1
            table
              thead
                tr
                  th Albums
              tbody
                each album in albums
                  tr
                    td
                      a(href=`/albums/${album.id}`)
                        img(src=`${album.albumArt}`)
                    td= album.name
