extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script.
    let slideIndex = 1;
      showSlides(slideIndex);
    function plusSlides(n) {
      showSlides((slideIndex += n));
    }
    function currentSlide(n) {
      showSlides((slideIndex = n));
    }
    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace("active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += "active";
    }
block content
  head
    nav
      .navbar
          .logo
            img(src='./images/WOLF-Main.png' alt='Logo of Wolf' width=60 height=60)
          button.modal-show(onclick="document.getElementById('modal').style.display='block'") Login
          div.modal-container#modal
            form.modal-form(action="/users/login" method="POST")
              span.close-btn(onclick="document.getElementById('modal').style.display='none'")
                i(class="fa-solid fa-rectangle-xmark")
              div.modal-img
                img.wolf-img(src='./images/WOLF-Main.png' alt='Logo of Wolf')
              div.modal-inputs
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="email") Email
                input(type="email" name="email" required)
                label(for="password") Password
                input(type="password" name="password" required)
              div.modal-btn
                button.submit-btn Submit
                button.cancel-btn Cancel
          button.modal-show(onclick="document.getElementById('modal').style.display='block'") Create account
          div.modal-container#modal
            form.modal-form(action="/users/signup" method="POST")
              span.close-btn(onclick="document.getElementById('modal').style.display='none'")
                i(class="fa-solid fa-rectangle-xmark")
              div.modal-img
                img.wolf-img(src='./images/WOLF-Main.png' alt='Logo of Wolf')
              div.modal-inputs
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="username") Username
                input(type="text" name="username" required)
                label(for="email") Email
                input(type="email" name="email" required)
                label(for="password") Password
                input(type="password" name="password" required)
                label(for="confirmPassword") Confirm Password
                input(type="password" name="confirmPassword" required)
              div.modal-btn
                button.submit-btn Submit
                button.cancel-btn Cancel
  body
    div#app
      div.main-container
        .slideshow-container
          .mySlides.fade
            img(src='/images/banner1.jpg' style='width:100%')
            .text Caption Text
          .mySlides.fade
            img(src='/images/banner2.jpg' style='width:100%')
            .text Caption Two
          .mySlides.fade
            img(src='/images/banner3.jpg' style='width:100%')
            .text Caption Three
          // Next and previous buttons
          a.prev(onclick='plusSlides(-1)') &#x276E;
          a.next(onclick='plusSlides(1)') &#x276F;
        .albums-container
          .albumList-container1
            a(href="/albums/:id")
              img(src='#' alt='album-cover' width=300 height=300)
              p Album title
              p Artist
            //- table
            //-   tr
            //-     th Album
            //-   each album in albums
            //-     tr
            //-       td=album.album
            a(href="/albums/:id")
              img(src='#' alt='album-cover' width=300 height=300)
              p Album title
              p Artist
