include utils.pug

html
  head
    block head
      title="MuseHarmony"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/modal.css')
      link(rel="stylesheet" href="/stylesheets/index.css")
      link(rel="stylesheet" href="/stylesheets/layout.css")
      script(src="https://kit.fontawesome.com/47fd074cda.js" crossorigin="anonymous")
      if locals.authenticated
        +signedIn
      else
        +signedOut

body
  block content
  block footer
    footer
      .link-container
        .team The Team
          a(href='https://www.linkedin.com/in/nikolas-garza-7a3202139/') Niks' LinkedIn
          a(href='https://www.linkedin.com/in/edwards-ian/') Ians' LinkedIn
          a(href='https://www.linkedin.com/in/braxton-kappes-b68984119/') Braxtons' LinkedIn
          a(href='https://www.linkedin.com/in/leon-troper-91473a232/') Leo's LinkedIn
