doctype html
html
  head
    block head
      title="MuseHarmony"
      link(rel='stylesheet' href='/stylesheets/reset.css')

body
  if locals.authenticated
    form(class='logout' action='/users/logout' method='post')
      button(type='submit') Logout
  block content
    nav.navbar
      div.museharmony MuseHarmony
      div.home Home
      div.albums Albums
      div.genres Genres
