extends layout.pug

block content
    h2 Libraries list
    each libraryName in uniqueNameArr
        table(class= 'museTable')
            thead(class)
                tr
                    th= libraryName
            tbody
                each library in userLibraries
                    td testObjectValue
                    //- if library.dataValue.name == libraryName
                    //- each album in library
                    //-     tr
                    //-         td= album.name
