extends layout.pug

block content
    p 1 line break
    p 1 line break
    p 1 line break
    p 1 line break
    p 1 line break

    h2 Libraries list

    p 1 line break
    p 1 line break
    p 1 line break
    p 1 line break
    p 1 line break

    each library in userLibraries
        table
            thead

            tbody
                each list, key in library
                    td Library Name
                    td= key
                        form(class='editProfile' action='/libraries/:id' method='get')
                            button(type='submit') visit list
                    td= list[0]['name']
                    td
                        a(href='/library/:id')
                            img(src=`${list[0]['albumArt']}`)
