extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/libraries.css")
    script(src="/javascripts/libraries.js" type="module")

block content
    .library-container My Libraries
        .table-container
            each library in userLibraries
                table.table
                    thead

                    tbody
                        each list, key in library
                            if library
                                td
                                    a(href=`/libraries/${key}/`)
                                        img(src=`${list[0]['albumArt']}`)
                            td(class="library-Name")= key
                            td.visit-list-btn
                                form(class='editProfile' action=`/libraries/${key}/` method='get')
                                    button(type='submit') visit list
