extends layout.pug

block content
    table(class= 'museTable')
        thead(class) Library List
            tr
                each library in uniqueNameArr
                    th= library
        tbody
            each library in uniqueNameArr
                each album in userLibraries
                    tr
                        td= test
