extends layout.pug

block content
    h2 Libraries list
    p 1
    p 2
    p 3
    p 4
    p 5

    each library in userLibraries
        table(class= 'museTable')
            thead(class)
                tr
                    th= library.key
            tbody
                each album in library
                    td= (`${album[library.key][0][`name`]}`)
                    td
                        img(src= `${album[library.key][0][`albumArt`]}`)
