extends layout.pug

block content
    h2 Libraries list

    each library in userLibraries
        table
            thead
                tr
            tbody
                each list, key in library
                    td= key
                        a(href='/')
                    td= list[0]['name']
                    td
                        a(href='/')
                            img(src=`${list[0]['albumArt']}`)
