//- link(rel='stylesheet' href='/stylesheets/modal.css')
//- script(src="/javascripts/modal.js" type="module" defer)
//- script(src="https://kit.fontawesome.com/47fd074cda.js" crossorigin="anonymous")

//- body
//-     h2=title
//-         button.modal-show(onclick="document.getElementById('modal').style.display='block'") Show Modal
//-         div.modal-container#modal
//-             form.modal-form(action="/users/login" method="POST")
//-                 span.close-btn(onclick="document.getElementById('modal').style.display='none'")
//-                     i(class="fa-solid fa-rectangle-xmark")
//-                 div.modal-img
//-                     img.wolf-img(src='./images/WOLF-Main.png' alt='Logo of Wolf')
//-                 div.modal-inputs
//-                     input(type="hidden" name="_csrf" value=csrfToken)
//-                     label(for="email") Email
//-                     input(type="email" name="email" required)
//-                     label(for="password") Password
//-                     input(type="password" name="password" required)
//-                 div.modal-btn
//-                     button.submitnpm start
-btn Submit
//-                     button.cancel-btn Cancel
