mixin signedOut
  header
    nav
      .navbar
        .webName
          a(href= "/") MUSE HARMONY
        .loginDemoCreateButtons
          button.login-button.modal-show(onclick="document.getElementById('modal-login').style.display='block'") Login
          button.create-account.modal-show(onclick="document.getElementById('modal').style.display='block'") Create account
          button.demo-btn Demo User
        //- vvv Login Modal vvv -//
        div.modal-container#modal-login
          form.modal-form(action="/users/login" method="POST")
            span.close-btn(onclick="document.getElementById('modal-login').style.display='none'")
              i(class="fa-solid fa-rectangle-xmark")
            div.modal-img
              img.logo-img(src='./images/muse.png' alt='Logo of Muse')
            div.modal-inputs
              input(type="hidden" name="_csrf" value=csrfToken)
              label(for="email") Email
              input(type="email" name="email" required)
              label(for="password") Password
              input(type="password" name="password" required)
            div.modal-btn
              button.submit-btn Submit
        //- vvv Create Account Modal vvv -//
        div.modal-container#modal-create
          form.modal-form(action="/users/signup" method="POST")
            span.close-btn(onclick="document.getElementById('modal').style.display='none'")
              i(class="fa-solid fa-rectangle-xmark")
            div.modal-img
              img.logo-img(src='./images/muse.png' alt='Logo of Muse')
            div.modal-inputs
              input(type="hidden" name="_csrf" value=csrfToken)
              label(for="username") Username
              input(type="text" name="username" required)
              label(for="email") Email
              input(type="email" name="email" required)
              label(for="password") Password
              input(type="password" name="password" required)
              label(for="confirmPassword") Confirm Password
              input(type="password" name="confirmPassword" required)
            div.modal-btn
              button.submit-btn Submit


mixin signedIn
  header
    nav
      .navbar
        .webName
          a(href= "/") MUSE HARMONY
        .buttonsSigned
          form(action='/albums' method='get')
              button(type='submit') Albums
          form(action='/libraries' method='get')
              button(type='submit') Libraries
          form(action=`/users/${locals.userId}` method='get')
              button(type='submit') My Profile
          form(action='/users/logout' method='post')
              button(type='submit') Logout

mixin validationErrorSummary(errors)
  if errors
    div(class='alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
