img {
  border-radius: 5%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.hidden {
  visibility: hidden;
}

body {
  background-color: antiquewhite;
}

.albums-container {
  width: 1000px;
  margin: auto auto;
  background-color: rgb(252, 252, 252);
}

.album-table {
  background-color: white;
}

.album-tableHead {
  padding: 10px;
  font-size: 40px;
  justify-content: center;
}
.album-name {
  padding: 10px;
  font-size: 35px;
  justify-content: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button,
.dropDown,
.addToLibrary,
.cancel {
  background-color: #ca8b42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* set a hover effect for the button*/

button:hover {
  opacity: 0.8;
}

.dropDown {
  background-color: #ca8b42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.success {
}
