.hidden {
  visibility: hidden;
}

.albums-container {
  width: 1000px;
  margin: auto auto;
  background-color: antiquewhite;
}

.album-table {
  background-color: white;
}

.album-tableHead {
  padding: 10px;
  font-size: 40px;
}
.album-name {
  padding: 10px;
  font-size: 40px;
}

img {
  border-radius: 50%;
}

.dropDown,
.addToLibrary,
.cancel {
  background-color: #ca8b42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* set a hover effect for the button*/

button:hover {
  opacity: 0.8;
}

.dropDown {
  background-color: #ca8b42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
