* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: block;
}

nav {
  display: block;
  background-color: #717171;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end;
  text-align: center;
}

a img {
  border-radius: 5%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: none;
}

.logo {
  padding: 3px 20px;
}

#app {
  display: block;
  height: fit-content
}

.main-container {
  display: flex;
  height: 1180px;
  flex-direction: column;
}

.albums-container {
  display: flex;
  justify-content: center;
}

.albums-container p {
  position: absolute;
  font-size: 24px;
  padding: 5px;
}

.albumList-container1 {
  position: relative;
  top: 50px;
}

/* vvv Slides vvv */
.slideshow-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

img {
  vertical-align: middle;
  /* max-width: 100%;
  height: auto; */
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 24px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* ^^^ Slides ^^^
