* {
  overflow-x: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #717171;
}

.navbar {
  display: flex;
  border-bottom: solid rgb(0, 0, 0);
  margin: 0;
  text-align: center;
  height: 50px;
}

.webName {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  width: 500px;
}

.webName a {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}
.signedInButtonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonsSigned {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 13px;
}

.loginDemoCreateButtons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}

.demo-btn {
  padding-top: 15px;
}

button {
  display: flex;
  align-items: center;
  background-color: #ca8b42;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  flex-direction: row;
}

.login-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-form {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #727272;
  background-color: #a09595;
}

/*style the model content box*/
.modal-login-inputs {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/*assign full width inputs*/
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* /*set extra style for the cancel button */

.submit-btn {
  width: auto;
}

.cancel-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.close-btn {
  position: fixed;
  transform: translate(730%, 7%);
  float: right;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: red;
  cursor: pointer;
}

.modal-img {
  text-align: center;
  margin: 24px 0 12px 0;
}
/*set image properties*/

img.logo-img {
  position: relative;
  width: 200px;
  height: 200px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.link-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background-color: #717171;
  opacity: 1;
}

.link-container a {
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #ca8b42;
  opacity: 1;
  font-size: 12px;
}

.link-container a:hover {
  opacity: 0.8;
}

/* set a hover effect for the button*/

button:hover {
  opacity: 0.8;
}

.muse-harmony {
  align-self: center;
  justify-content: flex-end;
}
