body {
  background-color: antiquewhite;
}

.page-container {
  display: flex;
  width: 1000px;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
}
